body {
    font-size: 1.25rem;
}

.hero-container{
    background-color: #3185FC;
    min-height: 73vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-parent-container{
    border-top-left-radius: 25%;
    border-top-right-radius: 0%;
}

#hero-section{
    height: 100%;
    color: #F0F7F4;
    
}

/* Hero section edge design */
#hero-section-edge{
    background-color: #3185FC;
    min-height: 20vh;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 60%;
}

#hero-tag-line{
    height: 150px;
    color: #F0F7F4;
}

/* Hero Section CTA */
.btn--cta{
    background-color: #3A4454;
    color:#ffffff;
    padding: 15px;
    border-radius: 50px;
    font-size: 1.5rem;
    
}

.btn--cta:hover{
    background-color: #4a4f58;
    color:#ffffff;
}


/* Container styling */
#hero-images {
    position: relative;
    height: 500px; 
    overflow: hidden; 
}

.staggered-image {
    position: absolute;
    width: 250px; 
    height: 250px; 
    border-radius: 50%; 
    object-fit: cover; 
    transition: transform 0.3s ease;
}

.staggered-image:hover {
    transform:scale(1.05)
}

.image1 {
    top: 50px;
    left: 500px;
    animation: float1 6s ease-in-out infinite;
}

.image2 {
    top: 10px;
    left: 200px;
    animation: float2 5s ease-in-out infinite;
}

.image3 {
    top: 240px;
    left: 20px;
    animation: float3 7s ease-in-out infinite;
}

.image4 {
    top: 250px;
    left: 320px;
    animation: float3 7s ease-in-out infinite;
}

/* Homepage Adoption Section */

/* Tab content */
/* .tab-content {
    
    
    
}

#v-pills-tabContent {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); 
} */
